<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
  </head>

  <body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <br />
    <p>
      Logged in as: <span sec:authentication="name">Bob</span><br />
      Roles: <span sec:authentication="authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </p>
    <p>
      <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
      </form>
    </p>
  </body>
</html>
