<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="app">oauthClientAngular</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a ui-sref="app">Home</a></li>
        <li><a ui-sref="app.about" ui-sref-active="active" ng-show="logged">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <oauth
            template="views/oauth.html"
            site="http://localhost:9999"
            client-id="acme"
            redirect-uri="http://localhost:9000/"
            scope="openid"
            profile-uri="http://localhost:8080/api/user"
            authorize-path="/uaa/oauth/authorize"
            storage="localStorage">
          </oauth>
        </li>
      </ul>

    </div>
  </div>
</div>
